/* Mobile: width < 740px

Tablet: width >=740 and width < 1024px

Pc: width >= 1024px */

body{
    display: flex;
    height: 100vh;
}
.mobile, .tablet, .pc{
    margin: auto;
    font-size: 100px;
    display: none;
}

@media only screen and (max-width: 46.1875em){
    .mobile{
        display: block;
    }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .tablet{display: block;}
}
@media only screen and (min-width: 64em){
    .pc{
        display: block;
    }
}